<h1>hola</h1>
 <%= link_to("pagina1", welcome_path)%>
 <%= link_to("pagina3", tercera_path)%>
 <ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>