<h1>caca</h1>
<br></br>
<button type="button" class="btn btn-primary">Primary</button>
<a href="http://www.emol.com">
  <img src="http://www.worldcommunitycookbook.org/season/guide/photos/carrots.jpg" />
  </a>
   <%= link_to("pagina2", segunda_path,:class=> 'btn btn-default', :style => 'background-color: black; color:white')%>
 
 