
<div class="container">


<h1>Bienvenidos a Alcachofa!</h1>
 <div class="col-md-3">
 <br></br>
<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4"><button type="button" class="btn btn-success">Vota A</button>
</div>
  <div class="col-xs-6 col-md-4"></div>
</div>


  <br></br>
<img src="http://static.betazeta.com/www.ferplei.com/up/2013/04/Alexis-S%C3%A1nchez-rostro-Barcelona-660x350.jpg" alt="..." class="img-thumbnail">
<br></br>


<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <title>
    pan
  </title>
</head>

<div class="video-container">
  <iframe width="500" height="300" src="http://www.youtube.com/embed/mWRsgZuwf_8" frameborder="0" allowfullscreen></iframe>
</div>





 <div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>

</div>
</div>

</div>
